doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/lib/jquery-1.8.0.min.js")
    script(src="/javascripts/test.js")
  body
   block content